body{
    background-color: hsla(0, 0%, 0%, 0.76);
}
h1{
    text-align: center;
    color: black;
    padding: 35px;
    border: 3px peachpuff;
    border-style:double;
    text-shadow: 1px 3px orangered, -1px -3px goldenrod;
    border-radius: 15px;
    border-width: 5px;
    background-color: black;
    font-size: 35px;

}
p::selection{
    color: green;
    background-color: hsla(0, 0%, 0%, 0.75);
}
img:hover{
    border: 2px 2px black;
    border-radius: 20px;
    box-shadow: 1px 1px yellow, 5px 5px orangered;
}
h1:hover{
    background-color: black;
    border-radius: 25px;
    border-width: 1px;
    border-color: green;
    margin: 30px; 
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

footer{
    height: 150px;
    padding: 25px;
    margin: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border: 3px solid peru;
}
footer:hover{
    background-color:black;
    border-radius: 25px;
    height: 100px;
    border: 0px;
    box-shadow: 5px 5px yellowgreen;
}
footer h4{
    color:chartreuse;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
#MadeBy{
    color:azure;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
#name:hover{
    color:chartreuse;
    text-shadow: 5px 5px black;
    font-size: large;
}