body{
    background-image: url(Assets/smileWallpaper.png);
}
#title{
    font-size: 35px;
    font-weight: bold;
    font-family: fantasy;
    color: orange;
    text-shadow: 5px 5px 3px black;
    padding: 5px;
    margin-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#title:hover{
    animation-name: rotate;
    animation-duration: 3s;
}
#subtitle{
    margin-left: 13px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 3px orange;
}
#subtitle:hover{
    color: orange;
    text-shadow: 3px 3px 5px black;
}
@keyframes rotate{
    100%{transform: rotateZ(360deg)}
}